<body class="signup">
<div class="container-fluid center card">
  <div class="card-header text-center ">
    <%= image_tag @photo.thumbnail, :class => "img-thumbnail card-img-top"%>
  </div>
  <div class="card-block">
    <%= @photo.caption %>
  </div>
</div>

<div class="container-fluid label-form">
  <%= render 'form' %>
</div>
</body>
