<h3>My Collection</h3>
<div style="background: transparent" class="container-fluid center jumbotron">
  <% @user.collected_photos.each do |collect| %>
    <% @creator = User.find(collect.user_id) %>
    <div class="card">
      <div class="card-header text-center ">
        <%= image_tag collect.thumbnail, :class => "img-thumbnail card-img-top" %>
      </div>
      <div class="card-block">
        <strong><%= link_to "#{@creator.username}", user_path(@creator) %></strong> - <%= collect.caption %><br>
        <%= link_to "Remove from my collection", photo_photo_user_path(collect.id, @user.id), method: "DELETE" %>
      </div>
    </div>
  <% end %>
</div>
