<body class="signup">
  <div class="container-fluid center card">
    <div class="card card-header">
    </div>

    <div class="card-body photo-form" id="show-photo-<%= @photo.id %>">
      photo
    </div>
  </div>
</body>
