<body class="signup">
  <div class="container-fluid center card show-photo" data-photo-id="<%= @photo.id %>" data-user-id="<%=@photo.user.id%>">
    <div class="card card-header">
    </div>

    <div class="card-body photo-form">
      <div class="show-photo-image">
      </div>

      <a href="#" class="js-next" data-id="#">Next Photo</a>
    </div>


  </div>
</body>
